.public_components_NotificationsMenu_js-styles-menu {
  width: 90%;
}
.public_components_NotificationsMenu_js-styles-menu:before {
  content: ' ';
  position: absolute;
  width: 0px;
  height: 0px;
  left: 30px;
  top: 100px;
  border: 25 solid;
  border-color: #666;
}
.public_components_NotificationsMenu_js-styles-menu:after {
  content: ' ';
  position: absolute;
  width: 0px;
  height: 0px;
  left: 38px;
  top: 100px;
  border: 15 solid;
  border-color: #fff;
}
