.public_components_NotificationsMenu_js-styles-menu {
  width: 100%;
  position: relative;
}
.public_components_NotificationsMenu_js-styles-menu:before {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 5px solid transparent;
  border-right: 5px solid rgba(40,40,40,0.8);
  border-bottom: 5px solid transparent;
  margin: 1px 0 0 -15px;
}
